@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:wght@500;700;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: whitesmoke;
}
#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 150px;
}
h2,input{
    margin-bottom: 15px;
    display: block;
}
#hero:first-child{
    margin-top:20px;
}
input{
    padding:7px;
    border-radius: 2px;
    border:1px solid yellowgreen;
}
input:not(input[type="submit"]){
    width:20vw;
}
input[type="submit"]{
    width:10vw;
}
input[type="submit"]:hover{
    background-color: white;
}
a{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin-left:10px;
}
#header{
    top:0;
    z-index: 1;
    background-color: white;
    opacity: 0.9;
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
}
#header-img{
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 50%;
}
#first{
    width: 100%;
    height: 300vh;
    background-color: magenta;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media screen and (max-width: 500px) {
    #header{
        flex-direction: column;
    }
    
}
@media screen and ((min-width: 501px) and (max-width:900px)) { 
    #nav-bar{
        width: 50%;
        display: flex;
        justify-content: end;
    }


}
@media screen and (min-width: 901px) { 
    #image-box,#nav-bar{
        width: 40%;
    }
     
}
